@using MVCRouting.Data;
@using MVCRouting.Services;
@inject UrlService UrlService
@model List<Bolge>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Bolgeler</h1>
<div class="list-group">
    @foreach (Bolge bolge in Model)
    {
        <a asp-controller="Turkiye" asp-action="Bolgeler" asp-route-slug="@UrlService.URLFriendly(bolge.BolgeAd)" class="list-group-item list-group-item-action">@bolge.BolgeAd</a>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
